<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - la_mia_pizzeria_static</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/la_mia_pizzeria_static.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/stile.css" asp-append-version="true" />

    @*AXIOS*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">la_mia_pizzeria_static</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - la_mia_pizzeria_static - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        //Input di ricerca e chiamata Axios
        function searchPizza(){
            
            let name = document.querySelector("#pizza-input").value;
            console.log(name);
            axios.get("/api/pizzas/get?name=" + name)
            .then(res => {
                    const container = document.querySelector(".pizza_container");
                    let arrayLength = res.data.length;
                    container.innerHTML= "";

                    if (res.data.length == 0) {
                        container.classList.add("alert", "alert-danger");
                        container.innerHTML = "Non ci sono pizze nel database!";
                    }
                    else {
                        res.data.forEach(pizza => {

                            container.classList.add("d-none");
                            container.innerHTML += `
                                <div class="card mb-3" style="max-width: 70%;">
                                  <div class="row no-gutters">
                                    <div class="col-md-5">
                                        <img src="${pizza.picture}" class="card-img w-100" alt="${pizza.name}">
                                    </div>
                                    <div class="col-md-7">
                                      <div class="card-body">
                                        <h5 class="card-title">${pizza.name}</h5>
                                        <p class="card-text">Description: ${pizza.description}</p>
                                        <p class="card-text"><small class="text-muted">Price: &euro;${pizza.price}</small></p>
                                        <p class="card-text"><small class="text-muted">Category: ${pizza.categoryId}</small></p>
                                        <button onclick="detailPizza(${pizza.id})" class="btn btn-secondary" type="button">Details</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>`;
                            container.classList.remove("d-none");
                        })
                    }
            })
            .catch(err => {
                console.log(err);
            })
        }

        function detailPizza(id){

            axios.get("/api/pizzas/get/" + id)
            .then(res => {
                    const container = document.querySelector(".pizza_container");
                    console.log("res", res.data);
                    container.innerHTML = "";
                    let pizza =  res.data;
                    console.log("pizza",res.data);

                    if (res.data == null)
                    {
                        container.classList.add("alert", "alert-danger");
                        container.innerHTML = "Non abbiamo trovato la pizza nel database!";
                    }
                    else 
                    {
                        container.classList.add("d-none");
                        container.innerHTML += `
                        <div class="card w-75 mb-3">
                            <img src="${pizza.picture}" class="card-img-top" alt="${pizza.name}">
                            <div class="card-body">
                                <h5 class="card-title">${pizza.name}</h5>
                                <p class="card-text">${pizza.description}</p>
                                <p class="card-text"><small class="text-muted">Price: &euro;${pizza.price}</small></p>
                                <p class="card-text"><small class="text-muted">Category: ${pizza.categoryId}</small></p>
                                <button onclick="searchPizza()" class="btn btn-secondary" type="button">Back to pizze</button>
                            </div>
                        </div>`;
                        container.classList.remove("d-none");
                    }
            })

        }

        // Chiamata Axios di default 
        axios.get("/api/pizzas/get")
            .then(res => {

                const container = document.querySelector(".pizza_container");
                let arrayLength = res.data.length;

                if(res.data.length == 0){
                    container.classList.add("alert", "alert-danger");
                    container.innerHTML = "Non ci sono pizze nel database!";
                } 
                else 
                {
                    res.data.forEach(pizza => {
                        
                        container.classList.add("d-none");
                        container.innerHTML += `
                        <div class="card mb-3" style="max-width: 70%;">
                          <div class="row no-gutters">
                            <div class="col-md-5">
                                <img src="${pizza.picture}" class="card-img w-100" alt="${pizza.name}">
                            </div>
                            <div class="col-md-7">
                              <div class="card-body">
                                <h5 class="card-title">${pizza.name}</h5>
                                <p class="card-text">Description: ${pizza.description}</p>
                                <p class="card-text"><small class="text-muted">Price: &euro;${pizza.price}</small></p>
                                <p class="card-text"><small class="text-muted">Category: ${pizza.categoryId}</small></p>
                                <button onclick="detailPizza(${pizza.id})" class="btn btn-secondary" type="button">Details</button>
                              </div>
                            </div>
                          </div>
                        </div>`;
                        container.classList.remove("d-none");
                    })
                }
            })
            .catch(err => {
                console.log(err);
            })
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
