
<h2>Edit your Pizza as you like it!</h2>

<form>
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input class="form-control" id="name" for="Name">
        <span class="text-danger"></span>
    </div> 
    
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" for="description"></textarea>
        <span class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="picture" class="form-label">Picture</label>
        <input class="form-control" id="picture" for="picture">
        <span class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input class="form-control" id="price" for="price">
        <span class="text-danger"></span>
    </div>
    
    <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select id="category">
            <option value=""></option>
        </select>
        <span class="text-danger"></span>
    </div>

</form>

<script type="text/javascript">
    let pizzaId = window.location.search.split("=")[1];

    // Chiamata di default
    axios.get("/api/Pizzas/GetPizza/" + pizzaId)
    .then(res => {
        console.log(res);
    })
    .catch(err => {
        console.log(err);
    })
</script>
