<div class="d-flex align-content-center justify-content-center">
    <div class="text-center">
        <h1>Benvenuto nella nostra pizzeria!</h1>
        <p>Da noi troverai le pizze più classiche e anche le più stravaganti!</p>

        <a class="btn btn-danger" asp-controller="Home" asp-action="Menu">Vedi le nostre pizze!</a>
    </div>
</div>
