@{
    Layout = "_layout";
    ViewData["Title"] = "Pizza Home Page";
}

<div class="text-center">
    <h1>Welcome to out Pizzeria!</h1>
    <h3>Our pizzas are all made acording to typical italian recepies and with the best products available</h3>

    <div class="input-group my-4 mx-auto w-50">
        <input id="pizza-input" type="text" class="form-control" placeholder="Search your pizza" aria-label="Search your pizza" aria-describedby="pizza-search">
        <button onclick="searchPizza()" class="btn btn-outline-secondary" type="button" id="pizza-search">Search</button>
    </div>
    
    <div class="pizza_container text-center"></div>

    <p><strong>Please login to add and modify your pizzas!</strong></p>

</div>
 
<script>

    // Elimina la pizza cliccata
    function deletePizza(id){
        axios.delete("/api/pizzas/DeletePizza/" + id)
        .then(res => {
            searchPizza();
        })
    }

    //Input di ricerca e chiamata Axios
    function searchPizza() {

        let name = document.querySelector("#pizza-input").value;
        console.log(name);
        axios.get("/api/pizzas/get?name=" + name)
            .then(res => {
                const container = document.querySelector(".pizza_container");
                let arrayLength = res.data.length;
                container.innerHTML = "";

                if (res.data.length == 0) {
                    container.classList.add("alert", "alert-danger");
                    container.innerHTML = "Non ci sono pizze nel database!";
                }
                else {
                    res.data.forEach(pizza => {

                        container.classList.add("d-none");
                        container.innerHTML += `
                                    <div class="card mb-3" style="max-width: 70%;">
                                      <div class="row no-gutters">
                                        <div class="col-md-5">
                                            <img src="${pizza.picture}" class="card-img w-100" alt="${pizza.name}">
                                        </div>
                                        <div class="col-md-7">
                                          <div class="card-body">
                                            <h5 class="card-title">${pizza.name}</h5>
                                            <p class="card-text">Description: ${pizza.description}</p>
                                            <p class="card-text"><small class="text-muted">Price: &euro;${pizza.price}</small></p>
                                            <p class="card-text"><small class="text-muted">Category: ${pizza.categoryId}</small></p>
                                            <button onclick="detailPizza(${pizza.id})" class="btn btn-secondary" type="button">Details</button>
                                            <a class="nav-link text-dark" href="/Home/EditPizza?id=${pizza.id}">Edit</a>
                                            <button onclick="deletePizza(${pizza.id})" class="btn btn-secondary" type="button">Delete</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>`;
                        container.classList.remove("d-none");
                    })
                }
            })
            .catch(err => {
                console.log(err);
            })
    }

    // Mostra il dettaglio della pizza cliccata
    function detailPizza(id) {

        axios.get("/api/pizzas/get/" + id)
            .then(res => {
                const container = document.querySelector(".pizza_container");
                console.log("res", res.data);
                container.innerHTML = "";
                let pizza = res.data;
                console.log("pizza", res.data);

                if (res.data == null) {
                    container.classList.add("alert", "alert-danger");
                    container.innerHTML = "Non abbiamo trovato la pizza nel database!";
                }
                else {
                    container.classList.add("d-none");
                    container.innerHTML += `
                            <div class="card w-75 mb-3">
                                <img src="${pizza.picture}" class="card-img-top" alt="${pizza.name}">
                                <div class="card-body">
                                    <h5 class="card-title">${pizza.name}</h5>
                                    <p class="card-text">${pizza.description}</p>
                                    <p class="card-text"><small class="text-muted">Price: &euro;${pizza.price}</small></p>
                                    <p class="card-text"><small class="text-muted">Category: ${pizza.categoryId}</small></p>
                                    <button onclick="searchPizza()" class="btn btn-secondary" type="button">Back to pizze</button>
                                </div>
                            </div>`;
                    container.classList.remove("d-none");
                }
            })

    }

    // Chiamata Axios di default
    axios.get("/api/pizzas/get")
        .then(res => {

            const container = document.querySelector(".pizza_container");
            let arrayLength = res.data.length;

            if (res.data.length == 0) {
                container.classList.add("alert", "alert-danger");
                container.innerHTML = "Non ci sono pizze nel database!";
            }
            else {
                res.data.forEach(pizza => {

                    container.classList.add("d-none");
                    container.innerHTML += `
                            <div class="card mb-3" style="max-width: 70%;">
                              <div class="row no-gutters">
                                <div class="col-md-5">
                                    <img src="${pizza.picture}" class="card-img w-100" alt="${pizza.name}">
                                </div>
                                <div class="col-md-7">
                                  <div class="card-body">
                                    <h5 class="card-title">${pizza.name}</h5>
                                    <p class="card-text">Description: ${pizza.description}</p>
                                    <p class="card-text"><small class="text-muted">Price: &euro;${pizza.price}</small></p>
                                    <p class="card-text"><small class="text-muted">Category: ${pizza.categoryId}</small></p>
                                    <button onclick="detailPizza(${pizza.id})" class="btn btn-secondary" type="button">Details</button>
                                    <a class="nav-link text-dark" href="/Home/EditPizza?id=${pizza.id}">Edit</a>
                                    <button onclick="deletePizza(${pizza.id})" class="btn btn-secondary" type="button">Delete</button>
                                  </div>
                                </div>
                              </div>
                            </div>`;
                    container.classList.remove("d-none");
                })
            }
        })
        .catch(err => {
            console.log(err);
        })
</script>